h1 {
  color: blue;
}

a {
  float: left;
}

.banner {
  display: block;
  width: 100%;
  margin: auto;
  height: 50px;
}

.timer {
  float: right;
}

.intro {
  text-align: center;
  margin: 0 20px;
}

ul  {
  border: 1px solid red;
  text-emphasis: bold;
}

li {
  background: lightgrey;
  border: 1px solid white;
  color: black;
}

li.selected {
  background: blue;

}