body {
  font-family: 'Source Sans Pro', sans-serif;
}

.banner {
  height: 50px;
  margin: auto;
  padding: 20px;
  background: gold;
  height: 75px;
}

.timer {
  float: right;
  font-style: italic;
  color: red;
}

a {
  float: left;
}


  a.disabled { 
    pointer-events: none; 
}

button {
  text-align: center;
}

.main {
  margin: 0 20px;
}

h1, h2 {
  color:	#1E90FF;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

ol.answered  {
  display: none;
}

li {
  background: lightgrey;
  border: 1px solid white;
  color: black;
  width: 50%;
  font-size: 16px;
  font-weight: 900;
}

.end {
  text-align: center;
}
input {
width: 50%;
}

