/* 
font-family: 'Merriweather', serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
  background-image: url('img/light1.jpg');
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.banner {
  height: 50px;
  margin: auto;
  padding: 20px;
  height: 75px;
}

.timer {
  float: right;
  font-style: italic;
  color: #191970;
}

a {
  color: #191970;
  float: left;
  padding: 10px;
}


a.disabled { 
   pointer-events: none; 
}

button {
  text-align: center;
}
 

.intro-text {
  font-family: 'Merriweather', serif;
  margin-left: 100px;
} 

h1, h2, h3, .end {
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: bold;
  color:	#483D8B;
  text-align: center;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

ol {
  /* text-align: center; */
}

ol.answered  {
  display: none;
}

li {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  background: lightgrey;
  border: 3px solid white;
  color: black;
  margin: auto;
  padding-left: 10px;
  width: 50%;
}

.end {
  text-align: center;
}

.answered {
  margin: auto;
  color: 	#483D8B;
}

#initials {
width: 75px;
}
